name: "Docker Build and Push"

on:
    workflow_run:
        workflows: ["SonarCube and Test Analysis"]
        types:
            - completed
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile.prd
          push: true
          tags: ${{ vars.DOCKERHUB_USERNAME }}/backend-users:latest

      - name: Logout from Docker Hub
        run: docker logout
